<div class="jumbotron">
	<h2>
		Welcome to Recipr Recipes!
	</h2>
	<p>
		Here you can find the perfect recipe for your next dinner in. Whether you want Mac and Cheese,
    or maybe even <i>fancy</i> Mac and Cheese, Recipr Recipes has you covered. Browse our amazing selection
    of recipes, and share your favorites with us.
	</p>
	<p>
    <%= link_to 'Share Your Recipe!', new_recipe_path, class: "btn btn-primary btn-large" %>
	</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Some of our Favorites...</h3>
  </div>
  <% @recipes.each do |recipe| %>
    <div class="col-md-4">
			<h2>
				<%= recipe.name %>
			</h2>
			<p>
				<%= recipe.description %>
			</p>
			<p>
        <%= link_to 'View details »', recipe, class: "btn" %>
			</p>
		</div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-4">
    <a class="btn" href="/categories">Browse All Categories »</a>
  </div>
</div>

<!--      <tr>
        <td>< %= recipe.name %></td>
        <td>< %= recipe.description %></td>
        <td>< %= recipe.instructions %></td>
        <td>< %= link_to 'Show', recipe %></td>
        <td>< %= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td>< %= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
-->
